.hero-area
  -#%ul.nav.nav-tabs.search
    -#%li.active
      -#%a(href="#" data-cid="0")全部
    -#- Category.all.each do |c|
      -#%li
        %a(href="#" data-cid="#{c.id}")= c.name
  = form_tag '/admin/items', method: 'get', class: 'form-search' do
    = text_field_tag 'keyword', params[:keyword]
    = button_tag "Search", class: "btn btn-primary"
