.hero-area
  = form_tag '/admin/items', method: 'get', class: 'form-search' do
    = text_field_tag 'keyword', params[:keyword]
    = select_tag 'category_id', options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), :include_blank => true, class: "input-small"
    = button_tag "Search", class: "btn btn-primary"
