.modal {
  ul {
    list-style: none;
    li {
      float: left;
      margin: 5px;
      img {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}

.search-area {
  position: relative;
}

.hero-area {
  text-align: center;
  margin: 200px auto;
}

