@import "compass/css3/transition";

.home {
  text-align: center;

  .thumbnail {
    border: none;
    box-shadow: none;

    .desc {
      margin: 10px;

      .through {
        text-decoration: line-through;
      }

      .grey {
        color: grey;
      }

      .red {
        color: red;
      }

      .price:before {
        content: '￥'
      }
    }

    .op {
      opacity: 0;
      @include transition-property("opacity");
      @include transition-duration(0.3s);
    }

    &:hover .op {
      opacity: 1;
    }
  }
}

#item-images {
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  margin: 0;
}
