.tabbale.tabs-right
  %ul.nav-tabs.nav
    %li
      =link_to '所有分类', '#all'
    %li
      =link_to '有效分类', '#active'

.tab-content
  #active.tab-pane
    - if @active_categories.empty?
      .alert.alert-info
        No categories here.
    - else
      %table.table.table-hover.categories
        %thead
          %tr
            %th #
            %th name
            %th action
        %tbody
          = render :partial => 'category', collection: @active_categories

  #all.tab-pane
    %ul.breadcrumb
      %li= link_to '所有分类', categories_path
      - @crumbs.each do |c|
        %li
          %span.divider &raquo;
          = link_to c.name, categories_path(parent_id: c._id)

    - if @categories.empty?
      .alert.alert-info
        No categories here.

    - else
      %table.table.table-hover.categories
        %thead
          %tr
            %th #
            %th name
            %th action
        %tbody
          = render :partial => 'category', collection: @categories
